@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    @apply flex justify-center items-center;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: transparent !important;
  box-shadow: none !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Add this in your global CSS file (e.g., globals.css) */
.header-force {
  box-shadow: none !important;
  background-color: transparent !important;
}
.css-8b677u-MuiBadge-badge {
  background-color: rgba(102, 101, 221, 0.2) !important;
  top: -5px !important;
  right: -16px !important;
}
.css-1njj0mv-MuiPaper-root-MuiCard-root {
  box-shadow: none !important;
}
.css-2awovp-MuiCardContent-root {
  padding: 0 !important;
}
