@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    @apply flex justify-center items-center;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: transparent !important;
  box-shadow: none !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.dashed-line {
  border-left: 2px dashed #6665dd; /* Color for the dashed line */
  height: 24px; /* Adjust height as needed */
}
.dashed-line-horizontal {
  border-top: 2px dashed #6665dd; /* Color for the horizontal dashed line */
  width: 252px; /* Adjust width as needed */
}
.dashed-line-horizontal2 {
  border-top: 2px dashed #6665dd; /* Color for the horizontal dashed line */
  width: 252px; /* Adjust width as needed */
}
